# Docker SQL Server (port 1433) :
DATABASE_URL="sqlserver://localhost:1433;database=petrole_db;user=sa;password=Your_strong_Password1;encrypt=true;trustServerCertificate=true"
# SQL Server Express nommé (remplacer le port dynamique si besoin) :
# DATABASE_URL="sqlserver://localhost:50719;database=petrole_db;user=petrole_app;password=Your_strong_Password1;encrypt=true;trustServerCertificate=true"
JWT_SECRET=change_moi
JWT_EXPIRES_IN=1d
PORT=3000
SEED_ADMIN_EMAIL=admin@petrole.local
SEED_ADMIN_PASSWORD=Admin1234!
